samples/su-Mapping-factureService-provide/src/main/resources/jbi/factureService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2016-2020 Linagora
 
 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.
 
 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   xmlns:ged="http://service.server.ged.mapping.samples.petals.ow2.org/" xmlns:mapping="http://petals.ow2.org/se/mapping/annotations/1.0"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://facture.mapping.samples.petals.ow2.org/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://facture.mapping.samples.petals.ow2.org/"
   name="FactureService">
   <types>
      <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
         targetNamespace="http://facture.mapping.samples.petals.ow2.org/">

         <xs:element name="consulter" type="tns:consulter" />
         <xs:complexType name="consulter">
            <xs:sequence>
               <xs:element name="identifiant" type="xs:string" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
         </xs:complexType>

         <xs:element name="consulterResponse" type="tns:consulterResponse" />
         <xs:complexType name="consulterResponse">
            <xs:sequence>
               <xs:element name="file" type="xs:base64Binary" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
         </xs:complexType>

         <xs:element name="stocker" type="tns:stocker" />
         <xs:complexType name="stocker">
            <xs:sequence>
               <xs:element name="identifiant" type="xs:string" minOccurs="1" maxOccurs="1" />
               <xs:element name="file" type="xs:base64Binary" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
         </xs:complexType>

         <xs:element name="stockerResponse" type="tns:stockerResponse" />
         <xs:complexType name="stockerResponse">
            <xs:sequence></xs:sequence>
         </xs:complexType>

         <xsd:element name="factureInconnue">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="identifiant" minOccurs="1" maxOccurs="1" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

      </xsd:schema>
   </types>
   <message name="stocker">
      <part name="parameters" element="tns:stocker" />
   </message>
   <message name="stockerResponse">
      <part name="parameters" element="tns:stockerResponse" />
   </message>
   <message name="consulter">
      <part name="parameters" element="tns:consulter" />
   </message>
   <message name="consulterResponse">
      <part name="parameters" element="tns:consulterResponse" />
   </message>
   <message name="factureInconnue">
      <part name="parameters" element="tns:factureInconnue" />
   </message>
   <portType name="FactureService">
      <operation name="stocker">
         <input message="tns:stocker" />
         <output message="tns:stockerResponse" />
      </operation>
      <operation name="consulter">
         <input message="tns:consulter" />
         <output message="tns:consulterResponse" />
         <fault name="factureInconnue" message="tns:factureInconnue" />
      </operation>
   </portType>
   <binding name="FactureServicePortBinding" type="tns:FactureService">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <operation name="stocker">
         <soap:operation soapAction="" />
         <mapping:service-provider-operation>ged:stocker</mapping:service-provider-operation>
         <mapping:input-transformation xsl="input-stocker.xsl" />
         <mapping:output-transformation xsl="output-stocker.xsl">
            <mapping:should-return-fault as-xpath-expr="true">false()</mapping:should-return-fault>
         </mapping:output-transformation>
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
      </operation>
      <operation name="consulter">
         <mapping:service-provider-operation>ged:consulter</mapping:service-provider-operation>
         <mapping:input-transformation xsl="input-consulter.xsl" />
         <mapping:output-transformation xsl="output-consulter.xsl">
            <mapping:should-return-fault as-xpath-expr="true">
               not(boolean(/*[local-name()='consulterResponse']))
            </mapping:should-return-fault>
         </mapping:output-transformation>
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
         <fault name="factureInconnue">
            <soap:fault name="factureInconnue" use="literal" />
         </fault>
      </operation>
   </binding>
   <service name="FactureService">
      <port name="autogenerate" binding="tns:FactureServicePortBinding">
         <soap:address location="http://localhost:9000/factureService"></soap:address>
      </port>
   </service>
</definitions>