samples/su-SOAP-gedService-provide/src/main/jbi/gedService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2016-2022 Linagora
 
 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.
 
 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.server.ged.mapping.samples.petals.ow2.org/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.server.ged.mapping.samples.petals.ow2.org/"
   name="GedService">
   <wsp:Policy wsu:Id="GedServicePortBinding_MTOM_Policy">
      <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
         wsp:Optional="true"></ns1:OptimizedMimeSerialization>
   </wsp:Policy>
   <types>
      <xsd:schema targetNamespace="http://service.server.ged.mapping.samples.petals.ow2.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:element name="consulter" type="tns:consulter"></xs:element>

         <xs:element name="consulterResponse" type="tns:consulterResponse"></xs:element>

         <xs:element name="documentInconnu" type="tns:DocumentInconnuException"></xs:element>

         <xs:element name="stocker" type="tns:stocker"></xs:element>

         <xs:element name="stockerResponse" type="tns:stockerResponse"></xs:element>

         <xs:complexType name="stocker">
            <xs:sequence>
               <xs:element name="reference" type="xs:string" minOccurs="0"></xs:element>
               <xs:element name="type" type="xs:string" minOccurs="0"></xs:element>
               <xs:element name="file" type="xs:base64Binary" minOccurs="0"></xs:element>
            </xs:sequence>
         </xs:complexType>

         <xs:complexType name="stockerResponse">
            <xs:sequence></xs:sequence>
         </xs:complexType>

         <xs:complexType name="consulter">
            <xs:sequence>
               <xs:element name="reference" type="xs:string" minOccurs="0"></xs:element>
            </xs:sequence>
         </xs:complexType>

         <xs:complexType name="consulterResponse">
            <xs:sequence>
               <xs:element name="file" type="xs:base64Binary" minOccurs="0"></xs:element>
            </xs:sequence>
         </xs:complexType>

         <xs:complexType name="DocumentInconnuException">
            <xs:sequence>
               <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
               <xs:element name="reference" type="xs:string" minOccurs="1"></xs:element>
            </xs:sequence>
         </xs:complexType>
      </xsd:schema>
   </types>
   <message name="stocker">
      <part name="parameters" element="tns:stocker"></part>
   </message>
   <message name="stockerResponse">
      <part name="parameters" element="tns:stockerResponse"></part>
   </message>
   <message name="consulter">
      <part name="parameters" element="tns:consulter"></part>
   </message>
   <message name="consulterResponse">
      <part name="parameters" element="tns:consulterResponse"></part>
   </message>
   <message name="DocumentInconnuException">
      <part name="fault" element="tns:documentInconnu"></part>
   </message>
   <portType name="GedService">
      <operation name="stocker">
         <input wsam:Action="http://service.server.ged.mapping.samples.petals.ow2.org/GedService/stockerRequest"
            message="tns:stocker"></input>
         <output wsam:Action="http://service.server.ged.mapping.samples.petals.ow2.org/GedService/stockerResponse"
            message="tns:stockerResponse"></output>
      </operation>
      <operation name="consulter">
         <input wsam:Action="http://service.server.ged.mapping.samples.petals.ow2.org/GedService/consulterRequest"
            message="tns:consulter"></input>
         <output wsam:Action="http://service.server.ged.mapping.samples.petals.ow2.org/GedService/consulterResponse"
            message="tns:consulterResponse"></output>
         <fault message="tns:DocumentInconnuException" name="DocumentInconnuException"
            wsam:Action="http://service.server.ged.mapping.samples.petals.ow2.org/GedService/consulter/Fault/DocumentInconnuException"></fault>
      </operation>
   </portType>
   <binding name="GedServicePortBinding" type="tns:GedService">
      <wsp:PolicyReference URI="#GedServicePortBinding_MTOM_Policy"></wsp:PolicyReference>
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
      <operation name="stocker">
         <soap:operation soapAction=""></soap:operation>
         <input>
            <soap:body use="literal"></soap:body>
         </input>
         <output>
            <soap:body use="literal"></soap:body>
         </output>
      </operation>
      <operation name="consulter">
         <soap:operation soapAction=""></soap:operation>
         <input>
            <soap:body use="literal"></soap:body>
         </input>
         <output>
            <soap:body use="literal"></soap:body>
         </output>
         <fault name="DocumentInconnuException">
            <soap:fault name="DocumentInconnuException" use="literal"></soap:fault>
         </fault>
      </operation>
   </binding>
   <service name="GedService">
      <port name="autogenerate" binding="tns:GedServicePortBinding">
         <soap:address location="http://localhost:9000/gedService"></soap:address>
      </port>
   </service>
</definitions>