src/test/resources/parser/abstract-import.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2016-2021 Linagora
 
 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.
 
 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<wsdl:definitions name="FactureService" targetNamespace="http://petals.ow2.org/se/mapping/unit-test/parser/facture"
   xmlns:tns="http://petals.ow2.org/se/mapping/unit-test/parser/facture" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://petals.ow2.org/se/mapping/unit-test/parser/facture" schemaLocation="import-types.xsd" />
      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="archiver">
      <wsdl:part name="parameters" element="tns:archiver" />
   </wsdl:message>
   <wsdl:message name="consulter">
      <wsdl:part name="parameters" element="tns:consulter" />
   </wsdl:message>
   <wsdl:message name="consulterResponse">
      <wsdl:part name="parameters" element="tns:consulterResponse" />
   </wsdl:message>
   <wsdl:message name="supprimer">
      <wsdl:part name="parameters" element="tns:supprimer" />
   </wsdl:message>
   <wsdl:message name="supprimerResponse">
      <wsdl:part name="parameters" element="tns:supprimerResponse" />
   </wsdl:message>
   <wsdl:message name="factureInconnue">
      <wsdl:part name="parameters" element="tns:factureInconnue" />
   </wsdl:message>

   <wsdl:portType name="facture">
      <wsdl:operation name="archiver">
         <wsdl:input message="tns:archiver" />
      </wsdl:operation>
      <wsdl:operation name="consulter">
         <wsdl:input message="tns:consulter" />
         <wsdl:output message="tns:consulterResponse" />
         <wsdl:fault message="tns:factureInconnue" name="factureInconnue" />
      </wsdl:operation>
      <wsdl:operation name="supprimer">
         <wsdl:input message="tns:supprimer" />
         <wsdl:output message="tns:supprimerResponse" />
         <wsdl:fault message="tns:factureInconnue" name="factureInconnue" />
      </wsdl:operation>
   </wsdl:portType>

</wsdl:definitions>